# Build results
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# NuGet
*.nupkg
*.snupkg
packages/
project.lock.json
project.assets.json

# .NET
*.dll
*.exe
*.pdb
*.cache

# Logs
*.log

# OS
.DS_Store
Thumbs.db

.env